<div class="container-fluid list_container">
	<div class="article_head">Add a comment:</div>
	<%= form_for([:admin, @article, @article.comments.build]) do |f| %>
  <label>
    <%= f.label :Name, class:"article_head" %><br>
    <%= f.text_field :commenter, placeholder:"Name", style:"width:300px" %>
  </label>
  <p>
    <%= f.label :Comment, class:"article_head"  %><br>
    <%= f.text_area :body, placeholder:"Make a Comment", style:"width:300px" %>
  </p>
	  <p>
    <%= f.submit :Post, :data => {:disable_with => "Post"}, style:"padding:5px"%>
  </p>
<% end %>
