<div class="container">
  <div class="container-fluid list_container">
  	<div class="row">
  	  <div class="col-md-12">
				<p class="sub-header">All Articles</p>
        <% if @articles.length==0 %>
        <p class="article_head" style="text-align:center">Sorry!...There are no Articles to show...
        </p>
        <% else %>
  	      <div class="row">
						<% @articles.each do |article| %>
							<div class="col-lg-4 col-lg-offset-1">
							<p class="article_head"> 
	    				<%= truncate(article.title, :length => 30) %>
							</p>
							<p >
      				<%= truncate(article.text, :length => 200) %>
							</p>
							<p>
							<div style="float:left"><%= button_to 'SHOW', admin_article_path(article), method: :get, class:"btn btn-primary" %></div>							
							<% if article.user_id==nil %>
								<span style="float:left">&nbsp&nbsp&nbsp</span>					
								<div style="float:left"><%= button_to 'EDIT', edit_admin_article_path( article),method: :get, class:"btn btn-primary" %></div>
							<% end %>
								<span style="float:left">&nbsp&nbsp&nbsp</span>
								<div style="float:left"><%= button_to 'DELETE', admin_article_path(article), method: :delete, 
									data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></div>							
							<br><br><br><br>
  						</div>
						<% end %>						
          </div>
					<%= will_paginate @articles %>
        <% end %>
        </div>
      </div>
    </div>
</div>

