<div class="container">
  <div class="container-fluid list_container">
  	<div class="row">
  	  <div class="col-md-12">
				<% if user_signed_in? && params[:my]  %>
  	    <p class="sub-header">My Articles</p>
				<% else %>
				<p class="sub-header">All Articles</p>
				<% end %>
        <% if user_signed_in? && params[:my] %>
				<% @articles = @user.articles.paginate( :page => params[:page], :per_page => 5).order('id DESC') %>
				<% end %>
        <% if @articles.length==0 %>
        <p class="article_head" style="text-align:center">Sorry!...There are no Articles to show...
        </p>
        <% else %>
  	      <div class="table-responsive">
  	        <table class="table table-striped table-hover" >
              <thead>
                <tr>
                  <th>TITLE</th>
                  <th>ARTICLE</th>
                </tr> 
              </thead>
              <tbody>
								<% @articles.each do |article| %>
                <tr>
     						 <td><%= truncate(article.title, :length => 20) %></td>
									<% if user_signed_in? && params[:my] %>
     						 <td class="wrap" style="width:700px;"><%= truncate(article.text, :length => 100) %></td>
									<% else %>
									<td class="wrap" ><%= truncate(article.text, :length => 120) %></td>
									<% end %>
   						   <td><%= link_to 'SHOW', article_path(article) %></td> 
									<% if user_signed_in? && params[:my] %>				
									<td><%= link_to 'EDIT', edit_article_path( article) %></td>
    					    <td><%= link_to 'DELETE', article_path(article), method: :delete,
             					 data: { confirm: 'Are you sure?' } %></td>
									<% end %>  						 
   						 </tr>
  						<% end %>                              
              </tbody>
            </table>
						<%= will_paginate @articles %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>

