<div class="container">
  <div class="container-fluid list_container">
		<br><p class="article_head"><strong><%= @article.title %></strong></p><br>
		<p>
		<% if @article.image_url != nil %>
		<%= image_tag @article.image_url(:thumb).to_s if @article.image?  %>
		<% end %>
		</p>	
		<pre class="article_text" style="height:450px"><%= word_wrap(@article.text, line_width:125) %></pre>
	  <% if  user_signed_in? && @article.user_id==current_user.id %>
		<%= link_to 'Edit Article', edit_article_path(@article) %> | 
		<%= link_to 'Delete Article',article_path(@article), method: :delete,
             					 data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>

		<div class="container-fluid list_container1" style="margin-top:40px">
			<p class="article_head"><strong>Comments</strong></p>
			<% @comments = @article.comments.paginate(:page => params[:page], :per_page => 2).order('id DESC') %>
			<%= render @comments %>
			<%= will_paginate @comments %>
			<%= render 'comments/form' %>
		</div>
		<%= link_to 'back', articles_path %>
	</div>
</div>



